# In addition to meters, the Telemetry service collects events triggered within
# an OpenStack environment. This section provides a brief summary of the events
# format in the Telemetry service.

---
sources:
  - name: event_source
    events:
      - "*"
    sinks:
      - event_sink

sinks:
  - name: event_sink
    transformers:
    triggers:
    publishers:
      - direct://
