---

sources:
  - name: meter_source
    interval: 60
    meters:
      - "compute.instance.booting.time"
      - "cpu"
      - "cpu_util"
      - "image"
      - "image.delete"
      - "image.size"
      - "instance"
      - "instance.flavor"
      - "ip.floating"
      - "ip.floating.create"
      - "ip.floating.update"
      - "memory"
      - "memory.resident"
      - "memory.usage"
      - "network.services.lb.health_monitor"
      - "network.services.lb.loadbalancer"
      - "network.services.lb.member"
      - "network.services.lb.member.create"
      - "network.services.lb.pool"
      - "network.services.lb.pool.create"
      - "port"
      - "port.create"
      - "port.update"
      - "router"
      - "router.create"
      - "router.update"
      - "snapshot"
      - "snapshot.create.end"
      - "snapshot.create.start"
      - "snapshot.delete.end"
      - "snapshot.delete.start"
      - "snapshot.exists"
      - "snapshot.size"
      - "vcpus"
      - "volume"
      - "volume.create.end"
      - "volume.create.start"
      - "volume.delete.end"
      - "volume.delete.start"
      - "volume.exists"
      - "volume.resize.end"
      - "volume.resize.start"
      - "volume.size"
    sinks:
      - meter_sink

sinks:
    - name: meter_sink
      transformers:
      publishers:
        # - gnocchi://?filter_project=service&archive_policy=low
        - gnocchi://
