#!/bin/bash

## This is disrtuptive!


echo "############### OSDs ###############"
{% for host in groups['ceph-s1'] %}
  ssh {{ hostvars[host]['ansible_hostname'] }} "
  for disk in $(blkid | grep -v -e /dev/vda -e /dev/sda -e /dev/sr0 | grep -v LVM2 | egrep -o "/dev/..."); do
    ceph-volume lvm zap $disk --destroy
    ceph-volume lvm create --data $disk
  done
  "
sleep 1
ssh {{ hostvars[host]['ansible_hostname'] }} "ceph-volume lvm list | grep osd"
{% endfor %}



pools=(volumes images backups vms)
for pool in "${pools[@]}"
do
  if ! ceph osd pool get $pool size > /dev/null 2>&1; then
    ceph osd pool create $pool 50
    rbd pool init $pool
  else
    echo "pool $pool exists"
  fi
done


pools=(gnocchi)
for pool in "${pools[@]}"
do
  if ! ceph osd pool get $pool size > /dev/null 2>&1; then
    ceph osd pool create $pool 8 8 
    rbd pool init $pool
    ceph auth get-or-create client.gnocchi mon "allow r" osd "allow rwx pool=$pool"
  else
    echo "pool $pool exists"
  fi
done

sleep 1

ceph -s

