export OS_USERNAME=demo
export OS_PASSWORD={{DEMO_PASS}}
export OS_PROJECT_NAME=myproject

export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_DOMAIN_NAME=Default
export OS_AUTH_TYPE=password
export OS_AUTH_URL=http://{{control_node_ip}}:5000/v3
export OS_IDENTITY_API_VERSION=3