[DEFAULT]
transport_url = rabbit://openstack:{{RABBIT_PASS}}@{{control_node_name}}

[cors]

[database]
connection = mysql+pymysql://glance:{{DATABASE_PASS}}@{{access_ip_v4}}/glance
backend = sqlalchemy

[glance_store]
stores = file,http,rbd
default_store = file

rbd_store_pool = images
rbd_store_ceph_conf = /etc/ceph/ceph.conf
rbd_store_chunk_size = 8

filesystem_store_datadir = /var/lib/glance/images/

[image_format]
disk_formats = ami,ari,aki,vhd,vhdx,vmdk,raw,qcow2,vdi,iso,ploop.root-tar

[keystone_authtoken]
www_authenticate_uri = http://{{control_node_ip_remote}}:5000
auth_url = http://{{control_node_name}}:5000
memcached_servers = {{control_node_name}}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = glance
password = {{GLANCE_PASS}}

[matchmaker_redis]
[oslo_concurrency]
[oslo_messaging_amqp]
[oslo_messaging_kafka]
[oslo_messaging_notifications]
driver = messagingv2

[oslo_messaging_rabbit]
[oslo_messaging_zmq]
[oslo_middleware]
[oslo_policy]

[paste_deploy]
flavor = keystone

[profiler]
[store_type_location_strategy]
[task]
[taskflow_executor]




