[DEFAULT]
log_dir = /var/log/nova
lock_path = /var/lock/nova
state_path = /var/lib/nova
transport_url = rabbit://openstack:{{RABBIT_PASS}}@{{control_node_name}}
my_ip = {{access_ip_v4}}

use_neutron = true
firewall_driver = nova.virt.firewall.NoopFirewallDriver

## Enable for spice
#web = /usr/share/spice-html5
#vnc_enabled = False
#novnc_enabled = False

instance_usage_audit = True
instance_usage_audit_period = hour
notify_on_state_change = vm_and_task_state

[api]
auth_strategy = keystone

[api_database]
connection = mysql+pymysql://nova_api:{{DATABASE_PASS}}@{{control_node_name}}/nova_api

[barbican]
[cache]
[cells]
enable = False

[cinder]
[compute]
[conductor]
[console]
[consoleauth]
[cors]
[database]
connection = mysql+pymysql://nova:{{DATABASE_PASS}}@{{control_node_name}}/nova

[devices]
[ephemeral_storage_encryption]
[filter_scheduler]

[glance]
api_servers = http://{{control_node_name}}:9292


[guestfs]
[healthcheck]
[hyperv]
[ironic]
[key_manager]
[keystone]

[keystone_authtoken]
auth_url = http://{{control_node_name}}:5000
memcached_servers = {{control_node_name}}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = nova
password = {{NOVA_PASS}}

[libvirt]
[matchmaker_redis]
[metrics]
[mks]

[neutron]
enabled = true
server_listen = {{control_node_name}}
server_proxyclient_address = {{control_node_name}}

url = http://{{control_node_name}}:9696
auth_url = http://{{control_node_name}}:5000
auth_type = password
project_domain_name = default
user_domain_name = default
region_name = RegionOne
project_name = service
username = neutron
password = {{NEUTRON_PASS}}
service_metadata_proxy = true
metadata_proxy_shared_secret = {{METADATA_SECRET}}


[notifications]
[osapi_v21]

[oslo_concurrency]
lock_path = /var/lib/nova/tmp

[oslo_messaging_amqp]
[oslo_messaging_kafka]
[oslo_messaging_notifications]
driver = messagingv2

[oslo_messaging_rabbit]
[oslo_messaging_zmq]
[oslo_middleware]
[oslo_policy]
[pci]

[placement]
region_name = RegionOne
project_domain_name = Default
project_name = service
auth_type = password
user_domain_name = Default
auth_url = http://{{control_node_name}}:5000/v3
username = placement
password = {{PLACEMENT_PASS}}

[placement_database]
connection = mysql+pymysql://placement:{{DATABASE_PASS}}@{{control_node_name}}/placement

[powervm]
[profiler]
[quota]
[rdp]
[remote_debug]

[scheduler]
discover_hosts_in_cells_interval = 60

[serial_console]
[service_user]
[upgrade_levels]
[vault]
[vendordata_dynamic_auth]
[vmware]


[spice]
## Enable for spice
#enabled = True
#html5proxy_base_url = http://{{control_node_ip_remote}}:6082/spice_auto.html
#keymap = en-us
#server_listen = 0.0.0.0
#server_proxyclient_address = $my_ip

#agent_enabled = True
#html5proxy_host = 0.0.0.0
#html5proxy_port = 6082

[vnc]
## Disable for spice
enabled = True
server_listen = 0.0.0.0
server_proxyclient_address = $my_ip
novncproxy_base_url = http://{{control_node_ip_remote}}:6080/vnc_auto.html

[workarounds]
[wsgi]
[xenserver]
[xvp]
[zvm]
